<div class="recipe-tag-filter" *ngIf="availableTags.length > 0">
  <div class="filter-header">
    <span class="filter-label">Filter by tag:</span>
    <button
      *ngIf="selectedTag"
      mat-icon-button
      class="clear-filter-btn"
      (click)="clearFilter()"
      matTooltip="Clear filter"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div class="tag-chips">
    <mat-chip
      *ngFor="let tag of availableTags"
      [class.selected]="selectedTag === tag"
      (click)="selectTag(tag)"
      class="tag-chip"
    >
      {{ tag }}
    </mat-chip>
  </div>
</div>
