<div class="item-card">
  <div class="item-header">
    <div class="item-header-left">
      <input
        *ngIf="showCheckbox"
        type="checkbox"
        class="item-complete-checkbox"
        [checked]="completed"
        (change)="onToggleComplete($event)"
        aria-label="Mark as complete"
      />
    </div>
    <div class="item-header-content">
      <ng-content select="[item-header]"></ng-content>
    </div>
    <div class="item-actions">
      <button type="button" class="icon-btn edit" (click)="edit.emit()" title="Edit">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button type="button" class="icon-btn delete" (click)="delete.emit()" title="Delete">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="item-body">
    <div class="item-card-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
