<app-modal-dialog
  [title]="isEditMode ? 'Edit Category' : 'Create New Category'"
  [submitLabel]="isEditMode ? 'Save Changes' : 'Create Category'"
  [cancelLabel]="'Cancel'"
  (submit)="onSubmit()"
  (cancel)="onCancel()"
>
  <div class="form-group">
    <label for="categoryName" class="input-label">Category Name *</label>
    <input id="categoryName" type="text" placeholder="Category name"
           [(ngModel)]="categoryName"
           name="categoryName" required />
  </div>
</app-modal-dialog>

