<div class="cars-page">
  <h2>Cars</h2>
  <ng-container *ngIf="loading(); else showCars">
    <app-loading-spinner [translationKey]="'loading.default'"></app-loading-spinner>
  </ng-container>
  <ng-template #showCars>
    <app-item-list
      [items]="cars()"
      [loading]="loading()"
      [error]="error()"
      emptyMessage="No cars found."
    >
      <app-item-card
        *ngFor="let car of cars()"
        (delete)="deleteCar(car)"
      >
        <span>{{ car.make }} {{ car.model }} ({{ car.year }}) - {{ car.licensePlate }}</span>
      </app-item-card>
    </app-item-list>

    <app-fab-button
      icon="add"
      ariaLabel="Add Car"
      (buttonClick)="openAddDialog()"
    ></app-fab-button>
  </ng-template>
</div>
