<ng-container *ngIf="loading()">
  <app-loading-spinner [translationKey]="'loading.default'"></app-loading-spinner>
</ng-container>
<ng-container *ngIf="!loading()">
  <div *ngIf="error(); else showRecipes">
    <p class="error">{{ error() }}</p>
  </div>
  <ng-template #showRecipes>
    <app-item-list
      [items]="recipes()"
      [loading]="loading()"
      [error]="error()"
      emptyMessage="No recipes found."
    >
      <app-item-card
        *ngFor="let recipe of recipes()"
        (delete)="deleteRecipe(recipe)"
      >
        <span *ngIf="recipe.servings">Servings: {{ recipe.servings }}</span>
      </app-item-card>
    </app-item-list>
  </ng-template>
</ng-container>

<app-fab-button
  icon="add"
  ariaLabel="Add Recipe"
  (buttonClick)="openAddDialog()"
></app-fab-button>
